// font
$fontRoboto: "Roboto", "sans-serif";
$fontBold: 700;
$fontSemiBold: 600;
$fontMedium: 500;
$fontNormal: 400;

// Color
$colorDark: #333333;
$colorWhite: #ffffff;
$colorDarkGrey: #828282;
$colorGrey: #efefef;
$colorLightGray: #c4c4c4;
$colorGreen: #66c05d;

// border
$borderBtn: 2px solid $colorWhite;
$borderInp: 1px solid #bdbdbd;
$borderTab: 1px solid #c6cbcd;

// margin
$marginCenter: 0 auto;

// container
$largeContainer: 100%;
